{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies | Billing</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/cydez icon.png' %}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'table.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

    <style>
        .statusSection>button{
            border:none;
            outline:none;
            border-radius: 4px;
        }
        .updateButton{
            border:none;
            outline:none;
            padding:6px 8px;
            border-radius: 4px;
            color:white !important;
        }
        .updateButton>i{
            font-size:100%;
        }
    </style>
</head>

<body>
    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="be-navbar-header">
                    <a class="nav-link be-toggle-left-sidebar" href="#" id="sidebar_btn">
                        <span class="icon zmdi zmdi-menu"></span>
                    </a>
                    <a class="navbar-brand" href="{% url 'consultatntbilling' userid %}"><h2>CYDEZ TECHNOLOGIES</h2></a>
                </div>
                <div class="be-right-navbar be-right-navbar-flex">
                    <div class="search-container ">
                        <div class="input-group input-group-sm mx-auto">
                            <input class="form-control search-input" type="text" name="search" placeholder="Search" />
                            <!-- <i class="fa fa-search"></i> -->
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="be-left-sidebar" id="left_sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li>
                                    <a href="{% url 'consultatntbilling' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Total Billing</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'estimateconsultant' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Estimated Amount</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'estimation' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Generate Estimate</span></a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'log' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="be-content">
            <div class="container">
                <div class="table-wrapper">
                    <div class="row">
                            <form method="GET" action="{% url 'consultatntbilling' userid %}">
                                
                                <div class="search-container ">
                                <div class="input-group input-group-sm mx-auto">
                                
                                <!-- <select name="name"  style="width: 150px; height: 35px; font-size: 15px; margin-left: 1; border-color: blue;"> -->
                                    <select class="form-control" id="search" name="name" >
                                    <option disabled="true" selected>--SelectProject--</option>
                                  {% for i in l %}
                                    <option value="{{i.id}}" {% if i.id == p %}  selected  {% endif %}> {{i.clientName}} </option>
                                  {% endfor %}
                                </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;<select class="form-control" id="search" name="employee" >
                                    <option disabled="true" selected>--Employee--</option>
                                  {% for i in k %} 
                                    <option value="{{i.id}}" {% if i.id == e %} selected  {% endif %}> {{i.first_name}} </option>
                                  {% endfor %}
                                </select>
                                 &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="end_date" type="date" value={{enddate}}  >
                                 &nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" id="search" name="start_date" type="date"value={{startdate}}  >
                                 &nbsp;&nbsp;&nbsp;&nbsp;
                                 <select class="form-control" id="search" name="status" >
                                    <option value="" >----Status---</option>
                                    <option value="0" {% if search_variables.status__contains == '0' %} selected  {% endif %}> Rejected</option>
                                  <option value="1" {% if search_variables.status__contains == '1' %} selected  {% endif %}> Approve </option>         
                            

                                    </select>
                                 <button style="margin-left: 10px;" class="button button1">Search  </button>
                            </form>
                            <button style="margin-left: 2px;" class="button button1"><a href="/media/csvfolder/billings.xlsx" class="button button1">Download</a></button>
                            <button style="margin-left: 2px;" class="button button1"><a href="{% url 'consultatntbilling' userid %}" class="button button1">Reset</a></button> 
                            
                            
                        </div>
                        <button style="margin-left: 2px;" class="button"><a href="{% url 'approve_allConsultatnt' userid %}" class="button">Approve All</a></button>
                        <button style="margin-left: 2px;" class="button"><a href="{% url 'pendingc' userid %}" class="button">Pending Task</a></button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover"> 
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Day</th>
                                    <th>Project</th>
                                    <th>Task</th>
                                    <th>Hours</th>
                                    <th>Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in datas %}
                                <tr>
                                    <td>{{i.employee.first_name}}</td>
                                    <td>{{i.date}}</td>
                                    <td>{{i.day}}</td>
                                    <td>{{i.project}}</td>
                                    <td>{{i.taskdetails}}</td>
                                    <td>{{i.hours}}</td>
                                    <td id="statusSection{{i.id}}">
                                        <form>
                                   
                                           <button type="button" value="1" name="action" class="updateButton action approve" onclick="changeStatus('{{i.id}}',this.value,this.id);" id="accept{{i.id}}" {% if i.status == True %} style="background-color: mediumseagreen;" disabled {% endif %}>
                                              <i class="far fa-check-circle"></i>
                                            </button>
                                            <button type="button" value="0" name="action" class="updateButton action reject" onclick="changeStatus('{{i.id}}',this.value,this.id);" id="reject{{i.id}}"   {% if i.status == False %} style="background-color: #db3545;" disabled {% endif %}>
                                              <i class="far fa-times-circle"></i>

                                            </button>
                                            {% comment %} <button type="button" onclick="changeStatus({{i.id}});">Submit</button> {% endcomment %}
                                          </form> 
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                        <div style="float:left; margin-top: 20px;">
                          Page {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }}
                        </div>
                        <div style="float:right;"><br>
                          <nav aria-label="Page navigation example">
                  
                            
                              <ul class="pagination">
                                {% if datas.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ datas.previous_page_number }}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">&laquo; Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link">&laquo; </a>
                                </li>
                                {% endif %}
                                {% for i in datas.paginator.page_range %} 
                                <!-- {# {% if datas.number == i %} #} -->
                                {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                  
                                {% if datas.number == i %}
                                <li class="page-item active">
                                  <a class="page-link" href="?page={{forloop.counter}}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">{{forloop.counter}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{forloop.counter}}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">{{forloop.counter}}</a>
                                </li>
                                {% endif %}
                  
                                {% endif %}
                                {% endfor %} 
                  
                                {% if datas.has_next %}
                  
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ datas.next_page_number }}&name={{request.GET.name}}&start_date={{request.GET.start_date}}&end_date={{request.GET.end_date}}&employee={{request.GET.employee}}">&raquo; Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link"> &raquo;</a>
                                </li>
                                {% endif %}
                              </ul>
                            
                  
                          </nav>
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function changeStatus(taskId,status,eleId){

            $.ajax({
                method: "POST",
                url: "",
                data: { taskId: taskId, status: status }
                })
                .done(function( response ) {
                if(response['status']){
                    if(response['button']){
                        document.getElementById(eleId).style.backgroundColor = '#3cb371';
                        document.getElementById('reject'+taskId).style.backgroundColor = '#efefef';
                        document.getElementById(eleId).disabled = true;
                        document.getElementById('reject'+taskId).disabled = false;
                    }else{
                        document.getElementById(eleId).style.backgroundColor = '#db3545';
                        document.getElementById('accept'+taskId).style.backgroundColor = '#efefef';
                        document.getElementById(eleId).disabled = true;
                        document.getElementById('accept'+taskId).disabled = false;
                    }
                }else{ 
                    alert("Internal issue");
                }
                });
        }

    </script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script>
    
    <!-- <script>
        $(document).ready(function(){
            $('.updateButton').on('click',function(){
                var status_id = $(this).attr('status_id');
                req = $.ajax({
                    url :'/Totalbilling',
                    type:'POST',
                });
                $('#statusSection'+status_id).fadeOut(1000).fadeIn(1000);
            });
        });
    </script> -->
    
        <script>console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");

        function toggle_sidebar() {
                body.toggleClass(open_left_sidebar);
            }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
</body>

</html>